.filled {
  all: unset;
  width: fit-content;
  height: 51px;
  background: #2e6ff1;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  padding: 0 65px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.empty {
  all: unset;
  width: fit-content;
  height: 51px;
  background: transparent;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  padding: 0 65px;
  align-items: center;
  text-align: center;
  border: 1px solid #DEDEDE;
  color: #484848;
  cursor: pointer;
}
