.taki-btn {
  all: unset;
  width: fit-content;
  height: 51px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  padding: 0 65px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.filled {
  background: #2e6ff1;
  color: #ffffff;
}

.empty {
  background: transparent;
  border: 1px solid #dedede;
  color: #484848;
}

.delete {
  background: transparent;
  border: 1px solid #e70013;
  color: #e70013;
}
