.chapter {
  width: 289px;
  height: 289px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: end;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.chapter img {
  width: 289px;
  height: 186px;
}
.chapter h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 18px 11px 4px;
}

.chapter p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 11px;
  text-overflow: ellipsis;
}

.favorite-icon-empty, .favorite-icon-filled {
  position: absolute;
  top:8px;
  left: 8px;
  cursor: pointer;
}
.favorite-icon-empty path {
  fill: white;
}
.favorite-icon-filled path {
  fill: red;
}
