@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
:root {
  --color-primary: #2e6ff1;
  --color-gray: #787486;
}

body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
}
.sidebar {
  position: absolute;
  width: 277px;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #dbdbdb;
  z-index: 1;
  background-color: white;
}

.sidebar img {
  margin-top: 35px;
  margin-bottom: 80px;
}

.sidebar-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}
.sidebar-item svg {
  width: 27px;
  height: 27px;
  margin-left: 20px;
}

.sidebar-item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.sidebar-item:hover p {
  color: var(--color-primary);
}
.sidebar-item:hover svg path {
  stroke: var(--color-primary);
}
.sidebar-item:hover .category-icon path {
  fill: var(--color-primary);
}
.active p {
  color: var(--color-primary);
}
.active svg path {
  stroke: var(--color-primary);
}
.active .category-icon path {
  fill: var(--color-primary);
}
a {
  text-decoration: none;
  color: unset;
}
.navbar {
  border-bottom: 1px solid #DBDBDB;
  position: relative;
  height: 88px;
  padding-top: 22px;
}
.profile-icon-container {
  width: 153px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 45px;
}
.user-pic {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  object-fit: cover;
}
.profile-icon-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.username {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.profile-icon-container .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-gray);
  margin: 0;
}

.search-input {
  margin: 0px auto;
  width: 622px;
  height: 44px;
  background: #f5f5f5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-input img {
  margin-left: 20px;
  margin-right: 23px;
}

.search-input input {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #787486;
  outline: none;
  border: none;
  width: 100%;
  background: #f5f5f5;
  text-overflow: ellipsis;
}
